.container {
  padding: {
    left: map-get($sizes, base);
    right: map-get($sizes, base);
  }
  margin: {
    left: auto;
    right: auto;
  }

  @each $name, $value in $containers {
    &-#{$name} {
      max-width: $value;
    }
  }
}
